*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-image:url('https://raw.githubusercontent.com/pwlive/fullstackwebdevelopment/1f493053570bf725b7af69e53878f4f83fadfe56/Assignment_01(HTML%2BCSS)/assets/pexels-maxyne-barcel-10402282%201.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
}
li{
    list-style: none;
    cursor: pointer;
    
}
a{
    color:gold;
}
button{
    background-color:brown;
    padding: 15px 20px;
    cursor: pointer;
    color: white;
    border:1px solid white;
    border-radius: 10px;
    font-weight:900;
    width: fit-content;
    border: none;
}
button:hover{
    
    background-color:white;
    color: brown;
    border:1px solid white;
}
header{
    padding:15px 0 ;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-around;
}
nav ul{
    
    font-style: italic;
    display: flex;
    align-items: center;
    gap:80px;
    font-weight:900;
}
nav ul li img{
    width: 100px;
}
nav ul li:hover{
    
    text-decoration: underline;
}
.search-field{
    display: flex;
    gap: 30px;
}
main{
display: flex;
align-items: center;
}

.leftmain h1{
    
    padding:60px 60px ;
    font-weight: 800;
    font-size: 110px;
    justify-content:space-between;
    color:gold;
}
.leftmain-btn{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
footer{

    font-weight: 700;
    display:flex;
    padding: 0 0;
    justify-content:right;
    
}




